* {
  font-family: 'raleway';
}

body {
  background-color: hsl(229, 57%, 11%);
  
}

.wrapper {
  position: absolute; top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-image: url('images/bg-desktop.png');
  background-repeat: no-repeat;
  background-position-y: 120%;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: background-image 0.3s ease-out;
  transition: background-image 0.3s ease-out;
}

.main-container {
  min-width: 900px;
  height: 30%;
  width: 60%;
  display: flex;
  align-items:flex-end;
  margin-bottom: 5%;
  justify-self: center;
}

/*_______________________________________*/

.left-section {
  background-color: hsl(228, 56%, 26%);
  min-height: 200px;
  min-width: 350px;
  height: 90%;
  width: 40%;
  border-radius: 12px 150px 12px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.fylo-logo-container {
  display: flex;
  flex: 0.4;
  margin-top: 10%;
  margin-bottom: 5%;
}

.icons-container {
  display: flex;
  margin-top: 5%;
}

.icon-btn {
  border: none;
  background-color: hsl(229, 57%, 11%);
  margin-right: 5%;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.15s ease-out;
}

.icon-btn:hover {
  background-color: hsl(243, 100%, 93%);
}

.icon-btn img {
  vertical-align: top;
}

/*________________________________________*/

.right-section {
  background-color: hsl(228, 56%, 26%);
  min-height: 100px;
  min-width: 470px;
  height: 60%;
  width: 60%;
  margin-left: 5%;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-section p {
  margin: 0;
}

.right-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;  
  padding: 4%;
  position: relative;
}

.main-text {
  color: hsl(243, 100%, 93%);
  font-weight: 400;
}

.main-text strong {
  color: white;
}

.loading-container {
  background-color: hsl(229, 57%, 11%);
  height: 24px;
  width: 99%;
  border-radius: 12px;
  margin-top: 3%;
  align-self: center;
  display: flex;
  align-items: center;
}

.loading-progress-bar {
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  height: 16px;
  width: 82%;
  margin-left: 4px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.loading-progress-circle {
  background-color: hsl(243, 100%, 93%);
  height: 14px;
  width: 14px;
  border-radius: 7px;
  margin-right: 2px;
}

.gb-container {
  display: flex;
  justify-content: space-between;
  color: hsl(243, 100%, 93%);
  font-size: 14px;
  margin-top: 1%;
}

.gb-left-bubble {
  position: absolute;
  background-color: hsl(243, 100%, 93%);
  bottom: 90%;
  right: 10%;
  height: 50%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: all 0.3s ease-out;
}

.gb-left-value {
  font-size: 48px;
  color: hsl(229, 57%, 11%);
  font-weight: 700;
  text-transform:uppercase;
  margin-right: 10px;
}

.gb-left-text {
  font-size: 16px;
  color: hsl(229, 7%, 55%);
  padding-left: 10px;
}

.bubble-corner {
  position: absolute;
  height : 0;
  width : 0;
  border-top : 40px solid hsl(243, 100%, 93%);
  border-left : 40px solid transparent;
  top: 80%;
  right: 0%;
}


/*_______________________________*/

@media (width < 1350px) {
  .wrapper {
    background-image: url('images/bg-mobile.png');
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-y: 100%;
  }
}


@media (width < 1050px) {

  .main-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 200px;
  }

  .left-section {
    margin: 0;
    margin-bottom: 10%;
    min-width: 300px;
    width: 80%;
    padding: 0;
  }

  .fylo-logo-container, .icons-container {
    margin-left: 10%;
  }

  .icons-container {
    margin-bottom: 5%;
  }

  .right-section {
    margin: 0;
    padding: 4% 0 10% 0;
    width: 80%;
    min-width: 300px;
    max-width: 2000px;
  }

  .gb-left-bubble {
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 70%;
    width: 60%;
    max-width: 200px;
  }

  .bubble-corner {
    opacity: 0;
  }
}